.code-container {
    position: relative;
    margin-bottom: 10%;
  }
  
  .code {
    border-radius: 10px;
    padding: 10px !important;
  }
  
  .copy-icon {
    position: absolute;
    top: 50%;
    right: 10px; 
    transform: translateY(-50%);
    cursor: pointer;
    color: white;
  }
  
  .txt-code {
    text-align: left;
  }
  