.btn-modal {
display: flex;
margin:auto;
justify-content: center;
align-items: center;
margin-bottom: 8%;
width:100px;
height: 40px;
border-radius: 5px;
border: none;
background-color: rgb(0, 205, 106);
color: rgb(255, 253, 253);
font-weight: bold;
font-size: 15px;
cursor: pointer;
}
.btn-modal:hover{
    background-color: rgb(29, 148, 90)

}

.select-dierection{
    background-color: #2B2B2B;
    border: none;
    border-radius: 5px;
    height: 30px;
    color:white;
    width: 180px;
    font-size: 17px;
}
.container-live-demo {
    display: flex;  
    align-items: center; 
    margin-bottom: 5%;
}
.tooltip-target{
    border: 1px solid white;
    border-radius:10px ;
    padding: 10px;
    padding-bottom: 13px;
    padding-left: 13px;
}
.label-demo {
    display: flex;
    flex-direction: column;
    margin: auto;
    color: white;
  }
  .container-tooltip{
    display:flex;
    justify-content: center;
    align-items: center;
  }
.container-drag{
    display: flex;
    justify-content: center;
    width: 60%;
    height: auto;
    margin: auto;

}
  @media screen and (max-width: 675px) {
    .container-live-demo {
        flex-direction: column;
    }

    .label-demo {
        margin-top: 10px; /* Ajusta el margen superior para separar los elementos */
    }
}