.container-code {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container-code-txt{
    display: flex;
    align-items: center;
    background-color: #181f2b;
    padding-left: 13px;
    border-radius: 7px;
    white-space: nowrap;
}

.copy-icon{
    cursor: pointer;
    margin-left: 20px;
    padding-right: 10px;
    
}