.container-page {
    display: flex;
    margin: auto;
    margin-top: 10%;
    padding-bottom: 5%;
    height: auto; 
    flex-direction: column;
    width: 60%;
}
p{
    color:white
}
.title{
    text-align: center;
    color:white
}
.ul-components{
    margin-top: -5%;
}
@media screen and (max-width: 675px) {
    .container-page {
        width: 90%;
    }
}