header {
    display: flex;
    flex-direction: row;
    background-color: #12171f;
    margin: 0;
    color: white;
    align-items: center;
    padding: auto;
    height: 50px;
}

nav {
    display: flex;
    width: 100%;
}

.ul-content,.ul-links {
    flex-direction: row;
    list-style-type: none;
    display: flex;
    white-space: nowrap;
}
.ul-content{
    padding-left: 5px; 
}

.ul-links {
    margin-left: auto;
    padding-left: 0px;
   
}

.li-nav {
    padding: 0 10px;
}

.major-logo {
    color: #149ECA; 
}
.container-logo{
    margin-left: 5%;
}
.a-decoration {
    text-decoration: none;
    color: white;
    padding:5px;
   
}

.a-decoration:hover {
    color: #405677;
}

.icon {
    width: 5%; 
    height: auto; 
}
.container-lang{
    border: 1px solid #1e293a;
    border-radius: 5px;
    padding: 0px;
    margin-bottom: 4px;
    
}

.btn-language {
    border-radius: 5px;
    background-color: transparent;
    padding: 5px 10px;
    cursor: pointer;
    border:none;  
    color: white;
  }
  
  .btn-language.active {
    background-color: #31425c; 
  }
