header {
    display: flex;
    flex-direction: row;
    background-color: #12171f;
    margin: 0;
    color: white;
    align-items: center;
    padding: auto;
    height: 50px;
    width: 100%;
    position: relative;
}

nav {
    display: flex;
    width: 100%;
}

.ul-content, .ul-links {
    flex-direction: row;
    list-style-type: none;
    display: flex;
    white-space: nowrap;
}

.ul-content {
    padding-left: 5px;
}

.ul-links {
    margin-left: auto;
    padding-left: 0px;
    position: relative;
    z-index: 2;
}

.li-nav {
    padding: 0 10px;
}

.major-logo {
    color: #149ECA;
}

.container-logo {
    margin-left: 5%;
    position: relative;
    z-index: 2;
}

.a-decoration {
    text-decoration: none;
    color: white;
    padding: 5px;
}

.a-decoration:hover {
    color: #405677;
}

.icon {
    width: 5%;
    height: auto;
}
.btn-menu{
    border: none;
    background-color: transparent;
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
}
.open{
    color: white ;
}

.close{
    color: rgb(208, 51, 51) ;
    margin-top: 10px;
}
.container-lang {
    border: 1px solid #1e293a;
    border-radius: 5px;
    padding: 0px;
    margin-bottom: 4px;
}

.btn-language {
    border-radius: 5px;
    background-color: transparent;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    color: white;
}

.collapse-icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.collapse-btn {
    background-color: transparent;
    border: none;
    display: none;
}

.btn-language.active {
    background-color: #31425c;
}
.none{
    display: none;
}

@media screen and (max-width: 675px) {
    .ul-content {
        flex-direction: column;
        position: absolute;
        top: 30px; 
        left: 0; 
        background-color: #12171f;
        width: 100%;
        overflow: hidden;
        padding-top: 30px;
        padding-bottom: 10px;
        transition: height 0.2s ease, opacity 0.2s ease; 
        height: auto; 
        opacity: 0;
    }

    .li-collapse {
        padding-bottom: 30px;
    }

    .collapse-btn {
        display: block;
    }

    .show {
       
        height: 130px; 
        opacity: 1; 
        display:flex !important;
    }
    .hidden {
        height: 0;
        opacity: 0; 
    }
}

@media screen and (min-width: 676px) {
    .ul-content {
        flex-direction: row !important;
    }

    .collapse-btn {
        display: none;
    }
}
