.container-presentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    color:white;
    text-align: center; 
}

.btn-container{
    flex-direction: row;
    display: flex;
    justify-content: center;
    
}
.btn-get-started{
    margin-right: 25px;
    background-color: #128db6;
    text-decoration: none;
    color: white;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 35px;
    white-space: nowrap;
}
@media screen and (max-width: 675px) {
    .btn-container{
        flex-direction: column;
    }
    .container-pages{
        width: 80%;
    }
}
